.about-section {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 2.5em 0px;
}

.about-text {
    width: 50%;
}

.about-image {
    width: 50%;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.freight {
    font-size: 14px;
    line-height: 25px;
    color: rgb(99, 107, 131);
}

.phonebook {
    display: flex;
    gap: 2em;
    left: 0;
    font-size: 12px;
    color: rgb(10, 25, 47);

}
.fa-book-bookmark{
    color: rgb(69, 219, 183);
}
.foundation{
    font-size: clamp(16px, 5vw, 2rem);
    color: rgb(10, 25, 47);
}

@media (max-width:768px){
    .about-section{
        flex-direction: column;
        
    }
    .about-text {
        width: 100%;
    }
    
    .about-image {
        width: 100%;
    }
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}